{
	"tabWidth": 2,
	"printWidth": 100,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
